{% extends 'base.html.twig' %}

{% block title %}Log in!
{% endblock %}

{% block body %}

	<!-- ========== Login Area end============= -->
	<div class="login-area pt-120 mb-120">
		<div
			class="container">
			{# Les messages d'erreur ou de réussite on le mettra ici pour eviter de répeter sur chaque page #}

			{% for message in app.flashes('success') %}
				<div class="alert alert-success alert-dismissible fade show" role="alert">
					<strong>Succès :</strong>
					{{ message }}
					<button type="button" class="close" data-dismiss="alert" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>

			{% endfor %}

			{% for message in app.flashes('error') %}

				<div class="alert alert-danger alert-dismissible fade show" role="alert">
					<strong>Erreur :</strong>
					{{ message }}
					<button type="button" class="close" data-dismiss="alert" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>

			{% endfor %}

			<div class="row">
				<div class="col-lg-12">
					<div class="form-wrapper">
						<div class="form-title">
							<h3>Connecter vous ici !</h3>
							<span></span>
						</div>
						<form method="post">

							<div class="row">
								{% if error %}
									<div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
								{% endif %}

								{% if app.user %}
									<div class="mb-3">
										Vous êtes déjà connecté
										{{ app.user.userIdentifier }}, vous pouvez
										<a class="text-primary" href="{{ path('app_logout') }}">vous déconnecter</a>

									</div>
								{% endif %}

								<div class="col-lg-12">
									<div class="form-inner mb-25">
										<label for="email">Email*</label>
										<div class="input-area">
											<img src="assets/images/icon/email-2.svg" alt="">
											<input type="email" value="{{ last_username }}" id="inputEmail" name="email" placeholder="info@example.com" autocomplete="username" required autofocus>


										</div>
									</div>
								</div>
								<div class="col-lg-12">
									<div class="form-inner">
										<label for="email">Mot de passe *</label>
										<input type="password" name="password" id="inputPassword" placeholder="Password" autocomplete="current-password" required/>


										<i class="bi bi-eye-slash" id="togglePassword"></i>
									</div>
									<input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">


								</div>
								<div class="col-lg-12">
									<div class="form-agreement form-inner d-flex justify-content-between flex-wrap">
										<div class="form-group">
											<input type="checkbox" id="html" name="_remember_me">

											<label for="html">Rester connecté</label>
										</div>
										<a href="{{ path('app_forgot_password_request') }}" class="forgot-pass">Mot de passe oublié ?</a>


									</div>
								</div>
								<div class="col-lg-12">
									<div class="form-inner">
										<button class="primry-btn-2" type="submit">Connexion</button>
									</div>
								</div>
								<h6>Vous n'avez pas de compte ?
									<a href="{{ path('app_login') }}">Inscrivez-vous ici !</a>

								</h6>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- ========== Login Area end============= -->

{% endblock %}
