{% extends 'base.html.twig' %}

{% block title %}Log in!
{% endblock %}

{% block body %}

	<div class="home4-recent-article-area">
		<div class="container">
			<div class="row mb-60">
				<div class="col-12 d-flex flex-wrap align-items-end justify-content-md-between justify-content-start gap-3">
					<div class="section-title1">
						<h2>Inscription sur
							<span>AdopteUnDev</span>
						</h2>
						<p>Trouvez votre job de rêve ou recruter un développeur talentueux !</p>

					</p>
				</div>
			</div>
		</div>
		<div class="row justify-content-center g-lg-4 gy-5">
			<div class="col-lg-4 col-md-6">
				<div class="home4-recent-article-wrap">
					<div class="recent-article-img">
						<img class="img-fluid" src="assets/images/blog/log-img-41.png" alt="">
					</div>
					<div class="recent-article-content">
						<div class="recent-article-meta">
							<div class="date">
								<a class="primry-btn-2" href="{{path('app_developer_registration')}}">Développeur</a>
							</div>
							<div class="author">
								<a href="{{path('app_developer_registration')}}"><img src="assets/images/icon/user-2.svg" alt="">Profile dev</a>
							</div>
						</div>
						<h4>
							<a href="{{path('app_developer_registration')}}">
								Je suis un développeur à la recherche d'un job</a>
						</a>
					</h4>
				</div>
			</div>
		</div>
		<div class="col-lg-4 col-md-6">

			<div class="home4-recent-article-wrap">
				<div class="recent-article-img">
					<img class="img-fluid" src="assets/images/blog/log-img-42.png" alt="">
				</div>
				<div class="recent-article-content">
					<div class="recent-article-meta">
						<div class="date">
							<a class="primry-btn-2" href="{{path('app_company_registration')}}">Entreprise
							</a>
						</div>
						<div class="author">
							<a href="{{path('app_company_registration')}}"><img src="assets/images/icon/user-2.svg" alt="">Profile entreprise</a>

						</div>
					</div>
					<h4>
						<a href="{{path('app_company_registration')}}">

							Je suis une entreprise à la recherche d'un développeur talentieux
						</a>
					</h4>
				</div>
			</div>
		</div>
	</div>
</div></div><!-- ========== Home1 Work Process Start============= --><div class="home1-work-process mb-120 ">
<div class="container">
	<div class="row mb-60">
		<div class="col-12 d-flex justify-content-center">
			<div class="section-title1 text-center">
				<h2>
					Comment ça
					<span>marche ?</span>
				</h2>
				<p>
					Pour choisir le métier de vos rêves et vous assurer un avenir radieux ou trouver un dévellopeur idéal pour transformer votre idée en solution .
				</p>
			</div>
		</div>
	</div>
	<div class="row g-lg-4 gy-5 justify-content-center">
		<div class="col-xl-3 col-lg-4 col-sm-6">
			<div class="single-work-process one text-center">
				<div class="icon">
					<img src="assets/images/icon/account-create.svg" alt="">
				</div>
				<div class="work-content">
					<h5>
						<a href="register.html">Account Create</a>
					</h5>
					<p>To create your account be confident & safely.</p>
				</div>
			</div>
		</div>
		<div class="col-xl-3 col-lg-4 col-sm-6">
			<div class="single-work-process two text-center">
				<div class="icon">
					<img src="assets/images/icon/create-resume.svg" alt="">
				</div>
				<div class="work-content">
					<h5>
						<a href="edit-profile.htm">Create Resume</a>
					</h5>
					<p>To create your account be confident & safely.</p>
				</div>
			</div>
		</div>
		<div class="col-xl-3 col-lg-4 col-sm-6">
			<div class="single-work-process one text-center">
				<div class="icon">
					<img src="assets/images/icon/job-find.svg" alt="">
				</div>
				<div class="work-content">
					<h5>
						<a href="job-listing1.html">Find Jobs
						</a>
					</h5>
					<p>To create your account be confident & safely.</p>
				</div>
			</div>
		</div>
		<div class="col-xl-3 col-lg-4 col-sm-6">
			<div class="single-work-process two text-center">
				<div class="icon">
					<img src="assets/images/icon/job-apply.svg" alt="">
				</div>
				<div class="work-content">
					<h5>
						<a href="job-listing1.html">Apply Jobs</a>
					</h5>
					<p>To create your account be confident & safely.</p>
				</div>
			</div>
		</div>
	</div>
</div></div><!-- ========== Home1 Work Process end============= -->{% endblock %}
