{% extends 'base.html.twig' %}

{% block title %}Dashboard Developpeur!
{% endblock %}
{% block stylesheets %}
	<link rel="stylesheet" href="{{asset('assets/css/swiper-bundle.css')}}">


{% endblock %}


{% block body %}
	<!-- ========== Dashboard Area end============= -->
	<div class="dashboard-area pt-120 mb-120">
		<div class="container">
			<div class="row g-lg-4 gy-5 mb-90">
				<div class="col-lg-3">
					<div class="dashboard-sidebar">
						<div class="single-widget mb-60">
							{% include "developer/menu_dev.html.twig" %}
						</div>
					</div>
				</div>
				<div class="col-lg-9">
					<div class="dashboard-inner">
						<div class="author-area">
							<div class="author-img">


								<img src="{{asset('images/avatar/' ~ avatar)}}" alt="">
							</div>
							<div class="author-content">
								<span>Bonjour</span>
								<h4>{{developer.nom}}</h4>
							</div>
						</div>
						<div class="counter-area">
							<div class="row g-lg-4 g-md-5 gy-5 justify-content-center">
								<div class="col-lg-3 col-sm-6">
									<div class="counter-single">
										<div class="counter-icon">
											<img src="{{asset('assets/images/icon/tt-applied.svg')}}" alt="image">
										</div>
										<div class="coundown">
											<p>Demandes</p>
											<div class="d-flex align-items-center">
												<h3 class="odometer">
													250
												</h3>
												<span>+</span>
											</div>
										</div>
									</div>
								</div>
								<div class="col-lg-3 col-sm-6">
									<div class="counter-single two">
										<div class="counter-icon">
											<img src="{{asset('assets/images/icon/save-job.svg')}}" alt="image">
										</div>
										<div class="coundown">
											<p>Postes enreg</p>
											<div class="d-flex align-items-center">
												<h3 class="odometer">
													150
												</h3>
												<span>+</span>
											</div>
										</div>
									</div>
								</div>
								<div class="col-lg-3 col-sm-6">
									<div class="counter-single three">
										<div class="counter-icon">
											<img src="{{asset('assets/images/icon/massage.svg')}}" alt="image">
										</div>
										<div class="coundown">
											<p>Message</p>
											<div class="d-flex align-items-center">
												<h3 class="odometer">
													120
												</h3>
												<span>+</span>
											</div>
										</div>
									</div>
								</div>
								<div class="col-lg-3 col-sm-6">
									<div class="counter-single four">
										<div class="counter-icon">
											<img src="{{asset('assets/images/icon/cv-review.svg')}}" alt="image">
										</div>
										<div class="coundown">
											<p>Vu profile</p>
											<div class="d-flex align-items-center">
												<h3 class="odometer">
													500
												</h3>
												<span>+</span>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="table-wrapper">
							<h5 class="title">Recentes demandes :</h5>
							<div class="scroll-table">
								{% if candidatures is empty %}
									<p>Vous n'avez pas encore postulé à un poste.</p>
								{% else %}
									<table class="eg-table table category-table mb-0">
										<thead>
											<tr>
												<th>Titre</th>
												<th>Date</th>
												<th>Entreprise</th>
												<th>Statut</th>
											</tr>
										</thead>
										<tbody>
											{% for candidature in candidatures %}
												<tr>
													<td data-label="Job Title">
														<div class="company-info">
															<div class="logo">
																<img src="{{asset('assets/images/bg/company-logo/company-06.png')}}" alt="">
															</div>
															<div class="company-details">
																<div class="top">
																	<ul>
																		<li>
																			<h6>
																				<a href="{{ path('app_poste_details', { uuid: candidature.poste.uuid }) }}">
																					{{ candidature.poste.titre }}
																				</a>
																			</h6>
																		</li>
																		<li></li>
																		<li><img src="{{asset('assets/images/icon/calender2.svg')}}" alt="">
																			<span class="time">{{ candidature.date|time_diff }}</span>
																		</li>
																	</ul>
																</div>
																<ul>
																	<li><img src="{{asset('assets/images/icon/location.svg')}}" alt="">{{ candidature.poste.ville }},
																		{{ candidature.poste.adresse }}
																	</li>
																	<li>
																		<img src="{{asset('assets/images/icon/arrow2.svg')}}" alt="">
																		<p>
																			<span class="title">Salaire:</span>
																			{{ candidature.poste.salaireMin }}
																			<span class="time">
																				€/Mois</span>
																		</p>
																	</li>
																</ul>
															</div>
														</div>
													</td>
													<td data-label="Apply Job">{{ candidature.date|date('d/m/Y') }}</td>
													<td data-label="Company">{{ candidature.poste.company.nom }}
													</td>
													<td data-label="Status">
														{% if candidature.statut == 'acceptée' %}
															<span class="badge bg-success">Acceptée</span>
														{% elseif candidature.statut == 'Vue' %}
															<span class="badge bg-warning">Vue</span>
														{% elseif candidature.statut == 'En cours' %}
															<span class="badge bg-warning">En cours</span>
														{% elseif candidature.statut == 'rejetée' %}
															<span class="badge bg-danger">Rejetée</span>
														{% endif %}
													</td>
												</tr>
											{% endfor %}
										</tbody>
									</table>
								{% endif %}
							</div>
						</div>
					</div>

				</div>
			</div>
			<div class="row">
				<div class="col-lg-12">
					<div class="featured-jobs-area">
						<div class="section-title">
							<h4>Des postes qui pourraient vous interessé:</h4>
						</div>
					</div>
				</div>
				<div class="swiper feature-slider2">
					<div class="swiper-wrapper">
						{% for poste in suggestedPosts %}
							<div class="swiper-slide">
								<div class="feature-card2">
									<div class="company-area">
										<span></span>
										<div class="logo">
											{% set avatarC = poste.user.avatar ? poste.user.avatar.reference : 'default-avatar.png'  %}
											<img src="{{asset('images/avatar/' ~ avatarC)}}" alt="">

										</div>
										<div class="company-details">
											<div class="name-location">
												<h5>
													<a href="job-details.html">{{poste.titre}}</a>
													<span>{{poste.type}}<span></span>
													</span>
												</h5>
												<ul>
													<li>
														<a href="company-details.html">{{poste.company.nom}}</a>
													</li>
													<li class="verified"><img src="assets/images/icon/verified.svg" alt="">
														Verified Company</li>
												</ul>
											</div>
											<div class="bookmark">
												{% if poste in developer.favorites %}
													<form action="{{ path('app_favorite_poste_remove', {uuid: poste.uuid}) }}" method="post">
														<button type="submit" style="background:transparent">
															<i class='bx bx-bookmark'></i>
														</button>
													</form>
												{% else %}
													<form action="{{ path('app_favorite_poste_add', {uuid: poste.uuid}) }}" method="post">

														<button type="submit" style="background:transparent">
															<i class='bx bxs-bookmark'></i>

														</button>
													</form>
												{% endif %}
											</div>

										</div>
									</div>
									<div class="job-discription">
										<ul class="one">
											<li>
												<p>
													<span class="title">Lieu :</span>
													{{poste.ville}}</p>
											</li>
											<li>
												<p>
													<span class="title">Salaire Min:</span>
													{{poste.salaireMin}}€
												</p>
											</li>
										</ul>
										<ul>
											<li>
												<p>
													<span class="title">Experience:</span>
													{{poste.experienceRequis}}
													an(s)</p>
											</li>
											<li>
												<p>
													<span class="title">Date limite:</span>
													<span class="time">
														{{poste.dateLimite|date('d/m/Y')}}</span>
												</p>
											</li>
										</ul>
									</div>
									<div class="job-type-apply">
										<div class="apply-btn">
											<a href="{{path('app_poste_details', {'uuid':poste.uuid})}}">
												<span><img src="{{asset('assets/images/icon/apply-ellipse.svg')}}" alt=""></span>Postuler maintenant</a>
										</div>
									</div>
								</div>
							</div>


						{% endfor %}

					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- ========== Dashboard Area end============= -->

{% endblock %}

{% block javascripts %}
	<script src="{{asset('assets/js/swiper-bundle.min.js')}}"></script>


{% endblock %}
