{% extends 'base.html.twig' %}

{% block title %}
	{{developer.nom}}
	{{developer.prenom}}
{% endblock %}

{% block stylesheets %}
	<link rel="stylesheet" href={{ asset("css/custum.css") }}>
{% endblock %}



{% block body %}

	<!-- ========== Modal============= -->
	<!-- Modal -->
		<div class="modal fade" id="ratingModal" tabindex="-1" aria-labelledby="ratingModalLabel" aria-hidden="true"> <div class="modal-dialog">
			<div class="modal-dialog" style="max-width: 40rem;">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="ratingModalLabel">Évaluer
						{{ developer.nom }}</h5>
					<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
				</div>
				{% if form %}
					{{ form_start(form) }}
				
				<div class="modal-body">
				<div class="col-lg-12">

					<div class="form-inner mb-25">
					{{ form_widget(form) }}
					
				</div>
				</div>
					<div class="modal-footer">

				<button type="submit" class="primry-btn-2 lg-btn w-unset">
					Soumettre</button>

				<button type="button" class="danger-btn-2 lg-btn w-unset " data-bs-dismiss="modal">
					Annuler</button>


			</div>
					{{ form_end(form) }}
				</div>
				{% endif %}
			</div>
			</div>
		</div>
	</div>


	<div class="inner-banner">
		<div class="container">
			<div class="row">
				<div class="col-lg-12">
					<div class="banner-content text-center">
						<h1>Job Details</h1>
						<span></span>
						<nav aria-label="breadcrumb">
							<ol class="breadcrumb">
								<li class="breadcrumb-item">
									<a href="index.html">Home</a>
								</li>
								<li class="breadcrumb-item active" aria-current="page">Job Details</li>
							</ol>
						</nav>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- ========== Inner Banner end============= -->
	<!-- ========== Job Details Start============= -->
	<div class="job-details-pages pt-120 mb-120 bg-white">

		<div class="container">
			<div class="row g-lg-4 gy-5">
				<div class="col-lg-8">
					<div class="job-details-content">
						<div class="job-list-content d-flex align-items-center">
							<div class="company-area d-flex flex-column align-content-center">
								<div class="logos" style="width:10rem">
									{% set avatar = developer.user.avatar ? developer.user.avatar.reference : 'default-avatar.png'  %}
									<img src="{{asset('images/avatar/' ~ avatar)}}" alt="avatar-dev" width="100%">
								</div>
								<div class="company-details">
									<div class="name-location">
										<h5>
											<a href="#">{{ developer.nom}}</a>
										</h5>
										
											<div class="">
											{% set average = developer.getAverageRating() %}
											{% set count = developer.getRatingsCount() %}

											{% for i in 1..5 %}
												{% if i <= average %}
													<i class="bx bxs-star star-rating"></i>
												{% elseif i <= average + 0.5 %}
													<i class="bx bxs-star-half star-rating"></i>
												{% else %}
													<i class="bx bx-star star-rating"></i>
												{% endif %}
											{% endfor %}
											<span>{{ average }}</span>
											<span>({{ count }}
												avis)</span>
										</div>


									</div>
								</div>
							</div>
							<div class="job-discription">
								<ul class="one">
									<li>
										<img src="{{asset('assets/images/icon/map-2.svg')}}" alt="">
										<p>
											<span class="title">Ville:</span>
											{{developer.ville}}</p>
									</li>
									<li>
										<img src="assets/images/icon/category-2.svg" alt="">
										<p>
											<span class="title">Catégorie:</span>
											{{ developer.cat.nom}}</p>
									</li>


								</ul>
								<ul>
									<li>
										<img src="{{asset('assets/images/icon/company-2.svg')}}" alt="">
										<p>
											<span class="title">Expérience:</span>
											{{developer.experience}}an(s)</p>
									</li>
									<li></li>

									{% if developer.isSalaireVisible() %}
										<li>
											<img src="assets/images/icon/salary-2.svg" alt="">
											<p>
												<span class="title">Salaire Souhaité:</span>
												{{developer.salaireMin}}€
											</p>
										</li>

									{% endif %}
								</ul>

							</div>

						</div>

						<p>
							<span>Biographie:</span>
							<br>
							{{ developer.biographie }}
						</p>
						<br>


					</div>
				</div>
				<div class="col-lg-4">
					<div class="job-details-sidebar mb-120">
						<div class="save-apply-btn d-flex justify-content-end mb-50">
							<ul>
						{% if is_granted(constant('App\\Entity\\User::ROLE_COMPANY')) %}
							
							{% if  developer in company.developerSaved %}

								<form action="{{ path('app_favorite_dev_remove', {uuid: developer.uuid}) }}" method="post">
									<button type="submit" style="" class="save-btn">
										Retirer au favoris<span>
											<i class='bx bxs-bookmark'></i>
										</span>

									</button>
								</form>
							{% else %}
								<form action="{{ path('app_favorite_dev_add', {uuid: developer.uuid}) }}" method="post">

									<button type="submit" class="save-btn" style="background:transparent">
																Ajouter au favoris<span>
										<i class='bx bxs-bookmark'></i>
																	</span>

									</button>
								</form>
							{% endif %}
						{% endif %}

								<li>
									<a class="save-btn" href="#">
									</a>
								</li>
								
								{% if (is_granted(constant('App\\Entity\\User::ROLE_DEV')) and ratingDeveloper.uuid != developer.uuid) %}


									<li>
										<button class="primry-btn-2 lg-btn" data-bs-toggle="modal" data-bs-target="#ratingModal">Evaluer</button>
									</li>

								{% endif %}
								

							</ul>
						</div>
						<div class="job-summary-area mb-50">
							<div class="job-summary-title">
								<h6>Résumé du dev:</h6>
							</div>
							<ul>
								<li>
									<p>
										<span class="title">Nom & prenom:</span>
										{{developer.nom}}
										{{developer.prenom}}
										</p>
								</li>
								<li>
									<p>
										<span class="title">Catégorie:</span>
										{{developer.cat.nom}}
										</p>
								</li>
								<li>
									<p>
										<span class="title">Année d'expérience:</span>
										{{developer.experience}}
										</p>
								</li>
								<li>
									<p>
										<span class="title">Email :</span>
										{{developer.user.email}}
										</p>
								</li>
								{% if developer.isMobileVisible() %}
								
									<li>
									<p>
										<span class="title">N° de téléphone:</span>
										{{developer.mobile}}
									</p>
									</li>
								{% endif %}

								{% if developer.isSalaireVisible() %}
									<li>
										<p>

										<span class="title">Salaire min souhaité:</span>
										{{developer.salaireMin}}€
										</p>
									</li>
								{% endif %}
								<li>
									<p>
										<span class="title">Ville :</span>
										{{developer.ville}}
									</p>
								</li>
								<li>
									<p>
										<span class="title">Membre :</span>
										{{developer.user.createdAt|time_diff}}
									</p>
								</li>


							</ul>
							<div class="job-summary-title mt-4">
								<h6>Technologies:</h6>
							</div>

								
								<ul>
									{% for tech in developer.technologie %}
										<li>{{tech.nom}}</li>
									{% endfor %}
								</ul>
						</div>
						<div class="view-job-btn mb-30">
							<a href="job-listing1.html"><img src="assets/images/icon/company-2.svg" alt="">View All Jobs In This Company</a>
						</div>
						
						<div class="location-area">
							<h6>Get Location:</h6>
							<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3649.564763018799!2d90.36349791490355!3d23.834071191491947!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3755c14c8682a473%3A0xa6c74743d52adb88!2sEgens%20Lab!5e0!3m2!1sen!2sbd!4v1674212581590!5m2!1sen!2sbd" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
						</div>
					</div>
				</div>

			</div>
		</div>
	</div>
	<!-- ========== Job Details End============= -->



	

{% endblock %}
