{% extends 'base.html.twig' %}

{% block title %}Dashboard Developpeur!
{% endblock %}

{% block body %}
	<!-- ========== Dashboard Area end============= -->
	<div class="dashboard-area pt-120 mb-120">
		<div class="container">
			<div class="row g-lg-4 gy-5 mb-90">
				<div class="col-lg-3">
					<div class="dashboard-sidebar">
						<div class="single-widget mb-60">
							{% include "developer/menu_dev.html.twig" %}
						</div>
						<div class="single-widget">
							<div class="widget-title">
								<h6>Recent Activity:</h6>
							</div>
							<ul class="recent-activitys">
								<li>
									<div class="company-img">
										<img src="assets/images/bg/company-logo/recent-activity-01.png" alt="">
									</div>
									<div class="content">
										<h6>
											<a href="blog-details.html">Your application has accepted in 2 vacancies.</a>
										</h6>
										<span><img src="assets/images/icon/clock-1.svg" alt="">
											7 hour ago</span>
									</div>
								</li>
								<li>
									<div class="company-img">
										<img src="assets/images/bg/company-logo/recent-activity-02.png" alt="">
									</div>
									<div class="content">
										<h6>
											<a href="blog-details.html">1 Day Left For Your Premium Package To Expire.</a>
										</h6>
										<span><img src="assets/images/icon/clock-1.svg" alt="">
											5 hour ago</span>
									</div>
								</li>
								<li>
									<div class="company-img">
										<img src="assets/images/bg/company-logo/recent-activity-03.png" alt="">
									</div>
									<div class="content">
										<h6>
											<a href="blog-details.html">Your Job Posted Published On Position WordPress.</a>
										</h6>
										<span><img src="assets/images/icon/clock-1.svg" alt="">
											1 hour ago</span>
									</div>
								</li>
								<li>
									<div class="company-img">
										<img src="assets/images/bg/company-logo/recent-activity-04.png" alt="">
									</div>
									<div class="content">
										<h6>
											<a href="blog-details.html">Your Job Posted Published On Position Frontend Developer.</a>
										</h6>
										<span><img src="assets/images/icon/clock-1.svg" alt="">
											1 hour ago</span>
									</div>
								</li>
							</ul>
						</div>
					</div>
				</div>
				<div class="col-lg-9">
					<div class="applied-job-area">
						<div class="table-wrapper">
							<div class="table-title-filter">
								<div class="section-title">
									<h5>Postes favoris:
									</h5>
								</div>
							</div>
							<table class="eg-table table category-table mb-30">
								<thead>
									<tr>
										<th>Titre</th>
										<th>Date limite</th>
										<th>Entreprise</th>
										<th>Action</th>
									</tr>
								</thead>
								<tbody>
								{% for poste in poste_favoris %}
									<tr>
										<td data-label="Job Title">
											<div class="company-info">
												<div class="logo">
													<img src="{{asset('assets/images/bg/company-logo/company-01.png')}}" alt="">
												</div>
												<div class="company-details">
													<div class="top">
														<h6>
															<a href="job-details.html">{{poste.titre}}</a>
														</h6>
														<span><img src="{{asset('assets/images/icon/calender2.svg')}}" alt="">
															{{ poste.createdAt|time_diff  }}</span>
													</div>
													<ul>
														<li><img src="{{asset('assets/images/icon/location.svg')}}" alt="">{{poste.ville}}</li>
														<li>
															<img src="{{asset('assets/images/icon/arrow2.svg')}}" alt="">
															<p>
																<span class="title">Salaire:</span>
																{{poste.salaireMin}}€
															</p>
														</li>
													</ul>
												</div>
											</div>
										</td>
										<td data-label="Deadline">{{ poste.dateLimite|date('d-m-Y') }}</td>
										<td data-label="Company">
											<a class="company-btn" href="company-dashboard.html">																	<p>{{poste.company.nom}}</p>

											</a>
										</td>
										<td data-label="Action">
											<a href="{{path('app_poste_details', {'uuid':poste.uuid})}}" class="view-btn">Postuler maintenant</a>
										</td>
									</tr>
								{% else %}
									<tr>
									    <td colspan="4" class="text-center">Aucun poste favoris. Vous pouvez ajouter des postes en favoris pour consulter et postuler plus tard.</td>
									</tr>
								{% endfor %}
									
								</tbody>
							</table>
							<div class="pagination-table-info">
								<div class="table-info">
									<span>06 Results Showing In 20 Jobs</span>
								</div>
								<div class="pagination-area">
									<nav aria-label="...">
										<ul class="pagination">
											<li class="page-item disabled">
												<a class="page-link" href="#" tabindex="-1"></a>
											</li>
											<li class="page-item active" aria-current="page">
												<a class="page-link" href="#">01</a>
											</li>
											<li class="page-item">
												<a class="page-link" href="#">02</a>
											</li>
											<li class="page-item">
												<a class="page-link" href="#">03</a>
											</li>
											<li class="page-item">
												<a class="page-link" href="#"></a>
											</li>
										</ul>
									</nav>
								</div>
							</div>
						</div>

					</div>
				</div>


			</div>
			<div class="row">
				<div class="col-lg-12">
					<div class="featured-jobs-area">
						<div class="section-title">
							<h4>Featured Jobs:</h4>
						</div>
					</div>
				</div>
				<div class="swiper feature-slider2">
					<div class="swiper-wrapper">
						<div class="swiper-slide">
							<div class="feature-card2">
								<div class="company-area">
									<span></span>
									<div class="logo">
										<img src="assets/images/bg/company-logo/company-02.png" alt="">

									</div>
									<div class="company-details">
										<div class="name-location">
											<h5>
												<a href="job-details.html">UI/UX Engineer</a>
												<span>Full Time, Remote<span></span>
												</span>
											</h5>
											<ul>
												<li>
													<a href="company-details.html">Norland Company</a>
												</li>
												<li class="verified"><img src="assets/images/icon/verified.svg" alt="">
													Verified Company</li>
											</ul>
										</div>
										<div class="bookmark">
											<i class="bi bi-bookmark-fill"></i>
										</div>
									</div>
								</div>
								<div class="job-discription">
									<ul class="one">
										<li>
											<p>
												<span class="title">Location:</span>
												Chicago, Australia</p>
										</li>
										<li>
											<p>
												<span class="title">Salary:</span>
												$90-$140 /
												<span class="time">Per Hour</span>
											</p>
										</li>
									</ul>
									<ul>
										<li>
											<p>
												<span class="title">Experience:</span>
												2-3 Years</p>
										</li>
										<li>
											<p>
												<span class="title">Deadline:</span>
												<span class="time">
													3 February, 2023</span>
											</p>
										</li>
									</ul>
								</div>
								<div class="job-type-apply">
									<div class="apply-btn">
										<a href="job-details.html">
											<span><img src="assets/images/icon/apply-ellipse.svg" alt=""></span>Apply Now</a>
									</div>
								</div>
							</div>
						</div>
						<div class="swiper-slide">
							<div class="feature-card2">
								<div class="company-area">
									<span></span>
									<div class="logo">
										<img src="assets/images/bg/company-logo/company-03.png" alt="">

									</div>
									<div class="company-details">
										<div class="name-location">
											<h5>
												<a href="job-details.html">React JS Developer</a>
												<span>Full Time, Remote<span></span>
												</span>
											</h5>
											<ul>
												<li>
													<a href="company-details.html">UX.UI Company</a>
												</li>
												<li class="verified"><img src="assets/images/icon/verified.svg" alt="">
													Verified Company</li>
											</ul>
										</div>
										<div class="bookmark">
											<i class="bi bi-bookmark-fill"></i>
										</div>
									</div>
								</div>
								<div class="job-discription">
									<ul class="one">
										<li>
											<p>
												<span class="title">Location:</span>
												Dhaka, Bangladesh</p>
										</li>
										<li>
											<p>
												<span class="title">Salary:</span>
												$80K-$110K /
												<span class="time">Per Month</span>
											</p>
										</li>
									</ul>
									<ul>
										<li>
											<p>
												<span class="title">Experience:</span>
												2-3 Years</p>
										</li>
										<li>
											<p>
												<span class="title">Deadline:</span>
												<span class="time">
													3 February, 2023</span>
											</p>
										</li>
									</ul>
								</div>
								<div class="job-type-apply">
									<div class="apply-btn">
										<a href="job-details.html">
											<span><img src="assets/images/icon/apply-ellipse.svg" alt=""></span>Apply Now</a>
									</div>
								</div>
							</div>
						</div>
						<div class="swiper-slide">
							<div class="feature-card2">
								<div class="company-area">
									<span></span>
									<div class="logo">
										<img src="assets/images/bg/company-logo/company-04.png" alt="">

									</div>
									<div class="company-details">
										<div class="name-location">
											<h5>
												<a href="job-details.html">Receptionist</a>
												<span>Full Time, Part Time<span></span>
												</span>
											</h5>
											<ul>
												<li>
													<a href="company-details.html">Germaine Group Ltd</a>
												</li>
												<li class="verified"><img src="assets/images/icon/verified.svg" alt="">
													Verified Company</li>
											</ul>
										</div>
										<div class="bookmark">
											<i class="bi bi-bookmark-fill"></i>
										</div>
									</div>
								</div>
								<div class="job-discription">
									<ul class="one">
										<li>
											<p>
												<span class="title">Location:</span>
												West London, Uk</p>
										</li>
										<li>
											<p>
												<span class="title">Salary:</span>
												$50K-$60K /
												<span class="time">Per Hour</span>
											</p>
										</li>
									</ul>
									<ul>
										<li>
											<p>
												<span class="title">Experience:</span>
												2-2.5 Years</p>
										</li>
										<li>
											<p>
												<span class="title">Deadline:</span>
												<span class="time">
													4 February, 2023</span>
											</p>
										</li>
									</ul>
								</div>
								<div class="job-type-apply">
									<div class="apply-btn">
										<a href="job-details.html">
											<span><img src="assets/images/icon/apply-ellipse.svg" alt=""></span>Apply Now</a>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- ========== Dashboard Area end============= -->

{% endblock %}
