{% extends 'base.html.twig' %}

{% block title %}Mon profile Developpeur!
{% endblock %}

{% block stylesheets %}
	<link rel="stylesheet" href="{{asset('assets/css/select2.min.css')}}">
	<link rel="stylesheet" href={{ asset("css/custum.css") }}>


{% endblock %}




{% block body %}
	{% include "developer/_modal_add_cv.html.twig" %}

	<!-- ========== Dashboard Area end============= -->
	<div class="dashboard-area pt-120 mb-120">
		<div class="container">
			<div class="row g-lg-4 gy-5 mb-90">
				<div class="col-lg-3">
					<div class="dashboard-sidebar">
						<div class="single-widget mb-60">
							{% include "developer/menu_dev.html.twig" %}
						</div>
					</div>
				</div>
				<div class="col-lg-9">
					<div class="edit-profile-inner">

						<div class="form-wrapper">
							<ul class="nav nav-tabs" id="myTab" role="tablist">
								<li class="nav-item" role="presentation">
									<button class="nav-link active" id="home-tab" data-bs-toggle="tab" data-bs-target="#home" type="button" role="tab" aria-controls="home" aria-selected="true">
										<span></span>Informations personnelles:</button>
								</li>
								<li class="nav-item" role="presentation">
									<button class="nav-link" id="cv-tab" data-bs-toggle="tab" data-bs-target="#cv" type="button" role="tab" aria-controls="cv" aria-selected="false">
										<span></span>Mes CV</button>
								</li>
								<li class="nav-item" role="presentation">
									<button class="nav-link" id="profile-tab" data-bs-toggle="tab" data-bs-target="#profile" type="button" role="tab" aria-controls="profile" aria-selected="false">
										<span></span>Confidentialite</button>
								</li>
							</ul>
							<div class="tab-content" id="myTabContent">

								<div
									class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
									{# <form class="edit-profile-form profile-form  mb-60"> #}
									{{ form_start(form,  {'attr': {'class': 'edit-profile-form profile-form  mb-60'}}) }}


									<div class="row">

										<div class="col-xxl-12 col-lg-12 position-relative mb-4">
											<div class="upload_avatar_area">
												<img src="{{asset('images/avatar/' ~ avatar)}}" alt="avatar" id="avatar-preview">


												<label for="developer_profile_avatar" class="primry-btn-2 lg-btn w-unset d-flex align-items-center cursor upload-avatar-btn">


													Modifier
													<i class='bx bx-pencil ms-2'></i>

												</label>
												{{ form_widget(form.avatar) }}
											</div>
										</div>


										<div class="col-md-12 mb-3 d-flex justify-content-center">
											<div class="">
												{% set average = developer.getAverageRating() %}
												{% set count = developer.getRatingsCount() %}

												{% for i in 1..5 %}
													{% if i <= average %}
														<i class="bx bxs-star star-rating"></i>
													{% elseif i <= average + 0.5 %}
														<i class="bx bxs-star-half star-rating"></i>
													{% else %}
														<i class="bx bx-star star-rating"></i>
													{% endif %}
												{% endfor %}
												<span>{{ average }}</span>
												<span>({{ count }}
													avis)</span>
											</div>

										</div>
										<div class="col-md-6">
											<div class="form-inner mb-25">
												<label for="firstname1">Nom*</label>
												<div class="input-area">
													<img
													src="{{asset('assets/images/icon/user-2.svg')}}" alt="">
													{# <input type="text" id="firstname1" name="firstname" placeholder="Mrs. Jacoline"> #}
													{{ form_widget(form.nom) }}
												</div>
												<small class="text-danger">{{ form_errors(form.nom) }}</small>


											</div>
										</div>
										<div class="col-xxl-6 col-md-6">
											<div class="form-inner mb-25">
												<label for="lastname">Prénom *</label>
												<div class="input-area">
													<img src="{{asset('assets/images/icon/user-2.svg ')}}" alt="">
													{{ form_widget(form.prenom) }}
												</div>
											</div>
										</div>


										<div class="col-md-6">
											<div class="form-inner mb-25">
												<label for="email1">Email*</label>
												<div class="input-area">
													<img src="{{asset('assets/images/icon/email-2.svg')}}" alt="">
													<input type="email" disabled value={{app.user.email}}>


												</div>
											</div>
										</div>

										<div class="col-md-6">
											<div class="form-inner mb-25">
												<label for="phonenumber">N° Téléphone*</label>
												<div class="input-area">
													<img
													src="{{asset('assets/images/icon/phone-2.svg')}}" alt="">
													{# <input type="text" id="phonenumber" name="phonenumber" placeholder="+880-17 *** *** **"> #}
													{{ form_widget(form.mobile) }}
												</div>
											</div>
										</div>

										<div class="col-md-6">
											<div class="form-inner mb-25">
												<label>Catégorie*</label>
												<div class="input-area">
													<img src="{{asset('assets/images/icon/qualification-2.svg')}}" alt="">
													{{ form_widget(form.cat) }}

												</div>
											</div>
										</div>

										<div class="col-md-6">
											<div class="form-inner mb-25">
												<label>Technologies requis *</label>
												<div class="input-area">
													<img src="{{asset('assets/images/icon/language-2.svg')}}" alt="">
													{{ form_widget(form.technologie) }}
												</div>
												<small class="text-danger">{{ form_errors(form.technologie) }}</small>
											</div>
										</div>



										<div class="col-md-6">
											<div class="form-inner mb-25">
												<label>Expérience *</label>
												<div class="input-area">
													<img src="{{asset('assets/images/icon/qualification-2.svg')}}" alt="">
													{{ form_widget(form.experience) }}

												</div>
											</div>
										</div>


										<div class="col-md-6">
											<div class="form-inner mb-25">
												<label for="jobplace">Salaire minimum souhaité*</label>
												<div class="input-area">
													<img src="{{asset('assets/images/icon/gpa-2.svg')}}" alt="">
													{{ form_widget(form.salaireMin) }}
												</div>
											</div>
										</div>
										<div class="col-md-6">
											<div class="form-inner mb-25">
												<label for="jobplace">Ville *</label>
												<div class="input-area">
													<img src="{{asset('assets/images/icon/location.svg')}}" alt="">

													{{ form_widget(form.ville) }}
												</div>
											</div>
										</div>
										<div class="col-md-6">
											<div class="form-inner mb-25">
												<label for="jobplace">Adresse *</label>
												<div class="input-area">
													<img src="{{asset('assets/images/icon/location.svg')}}" alt="">
													{{ form_widget(form.adresse) }}
												</div>
											</div>
										</div>


										<div class="col-md-12">
											<div class="form-inner mb-50">
												<label for="description">Biographie</label>
												{# <textarea name="description" id="description" placeholder="Something Write Yourself...."></textarea> #}
												{{ form_widget(form.biographie) }}
											</div>
										</div>
										<div class="col-md-12">
											<div class="form-inner">
												<button class="primry-btn-2 lg-btn w-unset" type="submit">Mettre à jour mon profile</button>
											</div>
										</div>

									</div>
									{{ form_end(form) }}
									{# </form> #}

								</div>
								<div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
									<div class="form-wrapper">
										{{ form_start(formSetting, {'attr': {'class': 'profile-form'}}) }}


										<div class="section-title2">
											<h5 class="d-flex align-items-baseline gap-1"><img src="{{asset('assets/images/icon/profile-settings.svg')}}" alt="">
												Paramètres de mon profil

											</h5>
										</div>
										<div class="change-password-area mb-40">
											<div class="row">
												<div class="col-lg-12">
													<div class="info-title">
														<h6>Changer mon mot de passe</h6>
														<div class="dash"></div>
													</div>
												</div>
												<div class="col-md-6">
													<div class="form-inner mb-25">
														<label for="password">Mot de passe actuel *</label>
														<div class="input-area">
															<img src="assets/images/icon/lock-2.svg" alt="">
															{# <input type="password" name="password" id="password" placeholder="Password"> #}
																{{ form_widget(formSetting.currentPassword) }}
															<i class="bi bi-eye-slash" id="togglePassword"></i>
														</div>

													</div>
												</div>

												<div class="row">
													<div class="col-md-6">
														<div class="form-inner mb-25">
															<label for="password">Nouveau mot de passe *</label>
															<div class="input-area">
																<img src="assets/images/icon/lock-2.svg" alt="">
																{# <input type="password" name="password" id="password" placeholder="Password"> #}
																{{ form_widget(formSetting.plainPassword.first) }}
																<i class="bi bi-eye-slash" id="togglePassword"></i>
															</div>

														</div>
													</div>
													<div class="col-md-6">
														<div class="form-inner mb-25">
															<label for="password2">Confirmer le nouveau mot de passe*</label>

															<div class="input-area">
																<img src="assets/images/icon/lock-2.svg" alt="">
																{# <input type="password" name="confirmpassword" id="password2" placeholder="Confirm Password"/> #}
																{{ form_widget(formSetting.plainPassword.second) }}
																<i class="bi bi-eye-slash" id="togglePassword2"></i>
															</div>

														</div>
													</div>
												</div>
												<div class="col-md-12 pt-10">
													<div class="form-inner">
														<button class="primry-btn-1 lg-btn w-unset" type="submit">Mettre à jour mon mot de passe</button>
													</div>
												</div>
											</div>

										</div>
										<div class="privacy-security-area">
											<div class="row">
												<div class="col-lg-12">
													<div class="info-title">
														<h6>Vie privée et sécurité</h6>

														<div class="dash"></div>
													</div>
												</div>
												<div class="col-lg-12">
													<div class="single-permission mb-2">
														<div class="title">
															<h6>Disponibilité</h6>
														</div>
														<div
															class="form-check form-switch">
															{# <input class="form-check-input" type="checkbox" id="flexSwitchCheckDefault1"> #}
															{{ form_widget(formSetting.isDisponible) }}

														</div>
													</div>
													<div class="single-permission mb-2">
														<div class="title">
															<h6>Numéro de téléphone visible</h6>
														</div>
														<div class="form-check form-switch">
															{{ form_widget(formSetting.mobileVisible) }}


														</div>
													</div>
													<div class="single-permission mb-3">
														<div class="title">
															<h6>Salaire souhaité visible</h6>
															<p>If you log in again you will able to see all the match jobs and get all information.</p>
														</div>
														<div class="form-check form-switch">
															{{ form_widget(formSetting.salaireVisible) }}


														</div>
													</div>
												</div>
											</div>
										</div>
										<div class="col-md-12 pt-50">
											<div class="form-inner">
												<button class="primry-btn-2 lg-btn w-unset" type="submit">Mettre à jour</button>
											</div>
										</div>
										{# </form> #}
										{{ form_end(formSetting) }}
									</div>

								</div>
								<div class="tab-pane fade" id="cv" role="tabpanel" aria-labelledby="cv-tab">


									<div class="form-wrapper">
										<form class="edit-profile-form profile-form">
											<div class="section-title2">
												<h5>J'organise mes CV pour candidater et être visible auprès des recruteurs:</h5>
											</div>
											
											
											<div class="table-wrapper">
												<div class="d-flex mb-2 align-items-center justify-content-end">
												

													<button class="primry-btn-2 lg-btn w-unset" data-bs-toggle="modal" data-bs-target="#modalAddCV" type="button">
														<i class='bx bx-plus-circle me-2'></i>
														Nouveau CV
													</button>

												</div>
												<div class="scroll-table">
													<table class="eg-table table category-table mb-0">
														<thead>
															<tr>
																<th>Nom</th>
																<th>Date de creation</th>
																<th>Actions</th>
															</tr>
														</thead>
														<tbody>
															{% for cv in developer.cvs %}
																<tr>
																	<td>
																		<a class="view-btn" href="{{ asset('uploads/cvs/' ~ cv.fichier.reference) }}" target="_blank">
																			{{ cv.fichier.nom }}																			
																		</a>
																	</td>
																	<td>{{ cv.fichier.createdAt|date('d-m-Y à H:i') }}</td>
																	<td>
																		
																		<a href="{{ asset('uploads/cvs/' ~ cv.fichier.reference) }}" target="_blank">
																			<i class='bx bx-show eg-btn purple-btn'></i>
																		</a>

																		<a href="{{ path('cv_delete', {id: cv.id}) }}" >
																			<i class='bx bx-trash-alt eg-btn orenge-btn'></i>
																		</a>


																	</td>

																</tr>
															{% else %}
																<tr>
																	<td colspan="3">Vous n'avez pas de CV, vous pouvez en créer un en cliquant sur le bouton ci-dessus</td>
																</tr>
															{% endfor %}


														</tbody>
													</table>
												</div>

											</div>
											
										</fo>

									</div>



								</div>
							</div>

						</div>


					</div>


				</div>
			</div>
		</div>
	</div>
	<!-- ========== Dashboard Area end============= -->


{% endblock %}

{% block javascripts %}
<script src="{{asset('assets/js/select2.min.js')}}"></script>


	 <script>
												
													document.getElementById('developer_profile_avatar').addEventListener('change', (event) => {
														
																const file = event.target.files[0];
																if (file) {
																	const reader = new FileReader();
																	reader.onload = (e) => {
																		document.getElementById('avatar-preview').src = e.target.result;
																	};
																	reader.readAsDataURL(file);
																}
															});					
															
											</script>


{% endblock %}
