{% extends 'base.html.twig' %}

{% block title %}Details du poste
{% endblock %}

{% block body %}
	<!-- ========== Inner Banner Start============= -->
	<div class="inner-banner">
		<div class="container">
			<div class="row">
				<div class="col-lg-12">
					<div class="banner-content text-center">
						<h1>Detail du poste</h1>
						<span></span>
						<nav aria-label="breadcrumb">
							<ol class="breadcrumb">
								<li class="breadcrumb-item">
									<a href="{{path('app_home')}}">Accueil</a>
								</li>
								<li class="breadcrumb-item active" aria-current="page">Détails du poste</li>
							</ol>
						</nav>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- ========== Inner Banner end============= -->
	<!-- ========== Job Details Start============= -->
	<div class="job-details-pages pt-120 mb-120">
		<div class="container">
			<div class="row g-lg-4 gy-5">
				<div class="col-lg-8">
					<div class="job-details-content">
						<div class="job-list-content">
							<div class="company-area">
								<div class="logo">
									{% set avatarC = poste.company.user.avatar ? poste.company.user.avatar.reference : 'default-avatar.png'  %}
									<img src="{{asset('images/avatar/' ~ avatarC)}}" alt="">
								</div>
								<div class="company-details">
									<div class="name-location">
										<h5>
											<a href="#">{{poste.titre}}</a>
										</h5>
										<p>{{poste.company.nom}}</p>
									</div>
								</div>
							</div>
							<div class="job-discription">
								<ul class="one">
									<li>
										<img src="{{asset('assets/images/icon/home-2.svg')}}" alt="">
										<p>
											<span class="title">Ville:</span>
											{{poste.ville}}
										</p>
									</li>
									<li>
										<img src="{{asset('assets/images/icon/map-2.svg')}}" alt="">
										<p>
											<span class="title">adresse:</span>
											{{poste.adresse}}
										</p>
									</li>
									<li>
										<img src="{{asset('assets/images/icon/category-2.svg')}}" alt="">
										<p>
											<span class="title">Categorie:</span>
											{{poste.categorie.nom}}</p>
									</li>
								</ul>
								<ul>
									<li>
										<img src="{{asset('assets/images/icon/company-2.svg')}}" alt="">
										<p>
											<span class="title">Type de poste:</span>
											{{poste.type}}</p>
									</li>
									<li>
										<img src="{{asset('assets/images/icon/salary-2.svg')}}" alt="">
										<p>
											<span class="title">Salaire:</span>
											{{poste.salaireMin}}€/ Mois</p>
									</li>
								</ul>
							</div>
						</div>
						<p>
							<span>Description:</span>
							<br>{{poste.description|raw}}</p>
						<br>
					</div>
				</div>
				<div class="col-lg-4">
					<div class="job-details-sidebar mb-120">

						{% if is_granted('ROLE_DEV')  %}

							<div class="save-apply-btn d-flex justify-content-end mb-50">
								<ul>
									<li>
										{% if poste in developer.favorites %}
											<form action="{{ path('app_favorite_poste_remove', {uuid: poste.uuid}) }}" method="post">
												<button type="submit" style="background:transparent" class="save-btn" title="Supprimer de mes favoris">
												Supprimer de mes favoris <span>
													<i class='bx bx-bookmark'></i>
												</span>
												</button>
											</form>
										{% else %}
											<form action="{{ path('app_favorite_poste_add', {uuid: poste.uuid}) }}" method="post">

												<button type="submit" class="save-btn" style="background:transparent">
													Ajouter au favoris<span>
														<i class="bi bi-bookmark-fill"></i>
													</span>

												</button>
											</form>
										{% endif %}
									</li>
									<li>
										{% if existing_candature %}
											<a class="primry-btn-2 lg-btn w-unset " href="{{path('app_developer_candidature')}}">
												Ma candidature
											</a>

										{% else %}
											<button class="primry-btn-2 lg-btn w-unset" data-bs-toggle="modal" data-bs-target="#postulerModal">
												Postuler
											</button>

										{% endif %}
									</li>
								</ul>
							</div>
						{% endif %}
						<div class="job-summary-area mb-50">
							<div class="pin"><img src="{{asset('assets/images/icon/pin.svg')}}" alt=""></div>
							<div class="job-summary-title">
								<h6>Résumé du poste:</h6>
							</div>
							<ul>
								<li>
									<p>
										<span class="title">Titre du poste:</span>
										{{poste.titre}}</p>
								</li>
								<li>
									<p>
										<span class="title">Experiences:</span>
										{{poste.experienceRequis}}
										an(s)</p>
								</li>
								<li>
									<p>
										<span class="title">Categorie du poste:</span>
										{{poste.categorie.nom}}</p>
								</li>
								<li>
									<p>
										<span class="title">Type du poste:</span>
										{{poste.type}}</p>
								</li>
								<li>
									<p>
										<span class="title">technologies demandée:</span>
										{% for technologie in poste.technologie %}
											{{technologie.nom}},
										{% endfor %}
									</p>
								</li>
								<li>
									<p>
										<span class="title">Salaire proposé:</span>
										{{poste.salaireMin}}
										euro/<span class="time">Mois</span>
									</p>
								</li>
								<li>
									<p>
										<span class="title">Date Limite:</span>
										{{ poste.dateLimite|date('d-m-Y') }}</p>
								</li>
							</ul>
						</div>
						<div class="email-area mb-50">
							<div class="title">
								<h6><img src="{{asset('assets/images/icon/email-2.svg')}}" alt="">Email Now</h6>
							</div>
							<p>Envoyez votre CV à
								<a href="/cdn-cgi/l/email-protection#4920272f26092c31282439252c672a2624">
									<span class="__cf_email__" data-cfemail="90f9fef6ffd0f5e8f1fde0fcf5bef3fffd">[email&#160;protected]</span>
								</a>
							</p>
						</div>
						<div class="location-area">
							<h6>Get Location:</h6>
							<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3649.564763018799!2d90.36349791490355!3d23.834071191491947!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3755c14c8682a473%3A0xa6c74743d52adb88!2sEgens%20Lab!5e0!3m2!1sen!2sbd!4v1674212581590!5m2!1sen!2sbd" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
						</div>
					</div>
				</div>

			</div>
			<div class="row">
				<div class="col-lg-12">
					<div class="related-jobs">
						<div class="section-title mb-40">
							<h3>Related Jobs:</h3>
							<div class="swiper-btn1 d-flex align-items-center">
								<div class="left-btn prev-4">
									<img src="assets/images/icon/explore-elliose.svg" alt="">
								</div>
								<div class="right-btn next-4">
									<img src="assets/images/icon/explore-elliose.svg" alt="">
								</div>
							</div>
						</div>
						<div class="swiper related-job-slider">
							<div class="swiper-wrapper">
								<div class="swiper-slide">
									<div class="feature-card">
										<div class="company-area">
											<div class="logo">
												<img src="assets/images/bg/company-logo/company-02.png" alt="">
											</div>
											<div class="company-details">
												<div class="name-location">
													<h5>
														<a href="job-details.html">Assistant Laboratorist</a>
													</h5>
													<p>Full Time, Part Time</p>
												</div>
												<div class="bookmark">
													<i class="bi bi-bookmark"></i>
												</div>
											</div>
										</div>
										<div class="job-discription">
											<ul>
												<li>
													<img src="assets/images/icon/arrow2.svg" alt="">
													<p>
														<span class="title">Salary:</span>
														$30-$40 /
														<span class="time">Per month</span>
													</p>
												</li>
												<li>
													<img src="assets/images/icon/arrow2.svg" alt="">
													<p>
														<span class="title">Vacancy:</span>
														<span>
															05 Person (Both)</span>
													</p>
												</li>
												<li>
													<img src="assets/images/icon/arrow2.svg" alt="">
													<p>
														<span class="title">Deadline:</span>
														<span>
															02 March, 2023
														</span>
													</p>
												</li>
											</ul>
										</div>
										<div class="job-type-apply">
											<div class="apply-btn">
												<a href="job-details.html">
													<span><img src="assets/images/icon/apply-ellipse.svg" alt=""></span>Apply Now</a>
											</div>
										</div>
									</div>
								</div>
								<div class="swiper-slide">
									<div class="feature-card">
										<div class="company-area">
											<div class="logo">
												<img src="assets/images/bg/company-logo/company-03.png" alt="">
											</div>
											<div class="company-details">
												<div class="name-location">
													<h5>
														<a href="job-details.html">Senior Receptionist</a>
													</h5>
													<p>Full Time, Part Time</p>
												</div>
												<div class="bookmark">
													<i class="bi bi-bookmark"></i>
												</div>
											</div>
										</div>
										<div class="job-discription">
											<ul>
												<li>
													<img src="assets/images/icon/arrow2.svg" alt="">
													<p>
														<span class="title">Salary:</span>
														$60-$90 /
														<span class="time">Per month</span>
													</p>
												</li>
												<li>
													<img src="assets/images/icon/arrow2.svg" alt="">
													<p>
														<span class="title">Vacancy:</span>
														<span>
															07 Person (Female)</span>
													</p>
												</li>
												<li>
													<img src="assets/images/icon/arrow2.svg" alt="">
													<p>
														<span class="title">Deadline:</span>
														<span>
															03 March, 2023
														</span>
													</p>
												</li>
											</ul>
										</div>
										<div class="job-type-apply">
											<div class="apply-btn">
												<a href="job-details.html">
													<span><img src="assets/images/icon/apply-ellipse.svg" alt=""></span>Apply Now</a>
											</div>
										</div>
									</div>
								</div>
								<div class="swiper-slide">
									<div class="feature-card">
										<div class="company-area">
											<div class="logo">
												<img src="assets/images/bg/company-logo/company-06.png" alt="">
											</div>
											<div class="company-details">
												<div class="name-location">
													<h5>
														<a href="job-details.html">Manager (HR)</a>
													</h5>
													<p>Full Time, Part Time</p>
												</div>
												<div class="bookmark">
													<i class="bi bi-bookmark"></i>
												</div>
											</div>
										</div>
										<div class="job-discription">
											<ul>
												<li>
													<img src="assets/images/icon/arrow2.svg" alt="">
													<p>
														<span class="title">Salary:</span>
														$60-$76 /
														<span class="time">Per month</span>
													</p>
												</li>
												<li>
													<img src="assets/images/icon/arrow2.svg" alt="">
													<p>
														<span class="title">Vacancy:</span>
														<span>
															01 Person (Both)</span>
													</p>
												</li>
												<li>
													<img src="assets/images/icon/arrow2.svg" alt="">
													<p>
														<span class="title">Deadline:</span>
														<span>
															05 March, 2023</span>
													</p>
												</li>
											</ul>
										</div>
										<div class="job-type-apply">
											<div class="apply-btn">
												<a href="job-details.html">
													<span><img src="assets/images/icon/apply-ellipse.svg" alt=""></span>Apply Now</a>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- Modal postuler -->
	<div class="modal fade" id="postulerModal" tabindex="-1" aria-labelledby="postulerModalLabel" aria-hidden="true">
		<div class="modal-dialog" style="max-width: 50rem;">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="postulerModalLabel">Formulaire de candidature</h5>
					<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
				</div>
				<form id="postuler-form" method="POST" action="{{ path('app_postuler', { 'uuid': poste.uuid }) }}" enctype="multipart/form-data">
					<div class="modal-body">
						<div class="row">
							<div class="col-md-6 mb-3">
								<label for="dev-nom" class="form-label">Nom</label>
								<input type="text" class="form-control" id="dev-nom" name="name" value="{{ developer.nom }}">
							</div>
							<div class="col-md-6 mb-3">
								<label for="dev-prenom" class="form-label">Prénom</label>
								<input type="text" class="form-control" id="dev-prenom" name="prenom" value="{{ developer.prenom }}" required>
							</div>
							<div class="col-md-6 mb-3">
								<label for="dev-prenom" class="form-label">Prénom</label>
								<input type="text" class="form-control" id="dev-prenom" name="prenom" value="{{ developer.mobile }}" required>
							</div>
							<div class="col-md-6 mb-3">
								<label for="dev-prenom" class="form-label">Prénom</label>
								<input type="text" class="form-control" id="dev-prenom" name="prenom" value="{{ developer.user.email }}" required>
							</div>

							{% if cvs %}
								<div class="col-md-6 mb-3">
									<label for="cv" class="form-label">Sélectionnez un CV</label>
									<select class="form-select" id="cv" name="cv">
										<option value="" disabled selected>Choisissez un CV</option>
										{% for cv in cvs %}
											<option value="{{ cv.id }}">{{ cv.fichier.nom }}</option>
										{% endfor %}
									</select>
								</div>
							{% endif %}

							<div class="col-md-6 mb-3">
								<label for="fichier" class="form-label">Uploader un nouveau CV (PDF, max. 5 Mo)</label>
								<input type="file" class="form-control" id="fichier" name="fichier" accept="application/pdf">
							</div>
						</div>
						<div class="modal-footer">
							<button type="submit" class="btn btn-primary">Postuler</button>
							<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Annuler</button>
						</div>
					</div>
				</form>

			</div>
		</div>
	</div>
</div>
<!-- ========== Job Details End============= -->{% endblock %}
