{% extends 'base.html.twig' %}

{% block title %}Technologie{% endblock %}

{% block body %}
    <h1>Technologie</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ technologie.id }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ technologie.nom }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_technologie_index') }}">back to list</a>

    <a href="{{ path('app_technologie_edit', {'id': technologie.id}) }}">edit</a>

    {{ include('technologie/_delete_form.html.twig') }}
{% endblock %}
